body {
    background: var(--sakai-background-color-2);

}
p, h1, form, button {
    border: 0;
    margin: 0;
    padding: 0;
}

.spacer {
    clear: both;
    height: 25px;
}

/* ----------- My Form ----------- */
table.myform {
    width:100%;
}
.myform {
    margin:0 auto;
}

/* ----------- wrapper ------------*/
.wrapper {
    border: 2px solid var(--sakai-active-color-1);
    padding: 10px 40px 20px 40px;
    background: var(--sakai-background-color-1);
    margin: 2em auto;
    max-width: 45%;
    min-width: fit-content;
    border-radius: 8px;
}

.header {
    padding: 5px 0 15px;
    border-bottom: 1px solid var(--sakai-border-color);
    margin-bottom: 10px;
}

/* ----------- stylized ----------- */

.stylized h1 {
    font-weight: bold;
    margin-bottom: 8px;
}

.stylized h3 {
    text-align: center;
}

.instruction{
    text-align: center;
}

.stylized .instruction {
    text-align: left;
}

.stylized div.instruction {
    display:block;
    margin:0 auto;
    text-align: center;
}

.stylized ul.instruction {
    display:block;
    width:50%;
}

.stylized label {
    display:block;    
    font-weight: bold;
    margin-top: 0.6em;
    width: fit-content;
}

.labelCont {
    width: fit-content;
    display: block;
    position: relative;
    margin: 0 auto 0 auto;
}

.stylized span.reqStar {
    /* needed to override tool.css */
    float:none;
    margin-left: 2px;
    border: 0 none;
    font-weight: bold;
}

.stylized .info {
    background: transparent url(/library/image/sakai/information.png) no-repeat scroll 0 0;
    color: var(--sakai-text-color-dimmed);
    padding-left: 20px;
    padding-bottom: 20px;
}

.stylized > form {
    position: relative;
}

.stylized .small {
    color: var(--sakai-text-color-dimmed);
    display: block;
    font-size: 13px;
    font-weight: normal;
    text-align: right;
    width: 110px;
}

.stylized .inputBox {
    display: block;
    float: left;
    padding: 4px 2px;
    border: 1px solid var(--sakai-active-color-1);
    width: 170px;
    margin-bottom: 6px;
}

.stylized .terms {
    padding-bottom: 10px;
    border: 1px solid transparent; /* Stop layout jumping when isn't checked. */
    text-align: center;
}

.stylized .terms label {
    width: auto;
    height: auto;
    float: none;
    font-weight: normal;
    display: inline;
}

.terms label {
    vertical-align: middle;
}
 
.stylized input[type=submit] {   
    display: block;
    position: relative;
    margin: 0.2em auto 0 auto;
} 


.username {
	color: var(--infoBanner-color);
    font-weight: bold;
}

.usernameParent {
    display: block;
    margin-bottom: 15px;
    text-align: center;
    word-break:break-all;
}

.inputDiv {
    height: 2.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1.5em;
}

.inputDiv label {
    position: relative;
}

.centeredFeedback span {
    margin: auto;
}

.stylized > div.instruction {
    text-align: center;
    font-size: 13px;
}

#strengthInfo {
    display: block;
    color: var(--sakai-text-color-1);
    background-color: var(--sakai-background-color-1);
    border: 1px solid var(--sakai-border-color);
    border-radius: 4px;
    box-shadow: var(--elevation-2dp);
    left: -10em;
    padding: 1em;
    position: absolute;
    margin-top: -4.5em;
    width: 50%;
}

#strengthInfo:before {
    border-bottom: 15px solid var(--sakai-background-color-1);
    border-right: 15px solid var(--sakai-border-color);
    border-top: 15px solid var(--sakai-background-color-1);
    transform: rotateY(180deg);
    position: absolute;
    content: "";
    left: 9.6em;
    top: 3px;
    width: 0;
    height: 0;
}

#matchMsg, #strongMsg, #noMatchMsg,
#weakMsg, #failMsg, #moderateMsg {
    display: block;
    font-size: 0.8em;    
}

#failMsg {
    background: transparent url("/library/image/silk/cancel.png") no-repeat right center;
    color: var(--sakai-text-color-1);
}

#strongMsg,
#moderateMsg, #weakMsg {
    background: transparent url("/library/image/silk/accept.png") no-repeat right center;
    color: var(--sakai-text-color-1);
}   

#strengthBar {
    background-color: var(--sakai-background-color-2);    
    height: 5px;
    text-align: left;
    margin-bottom: 3px;
}

#strengthBarMeter {
    display: inline-block;
    width: 0%;
    height: 100%;
    background-color: var(--errorBanner-color);
}

.col-lg-6 {
    width: fit-content;
    padding: 0 50px;
}

img {
    float: right;
}
