<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title th:text="#{passwordReset.title}">Reset Password</title>		
        <link href="/library/skin/tool_base.css" type="text/css" rel="stylesheet" media="all"/>		
        <link href="/library/skin/morpheus-default/portal.css" type="text/css" rel="stylesheet" media="screen, tty, tv, handheld, projection"/>
        <link href="/library/skin/morpheus-default/tool.css" type="text/css" rel="stylesheet" media="screen, tty, tv, handheld, projection"/>
        <link href="/library/skin/morpheus-default/print.css" type="text/css" rel="stylesheet" media="print"/>
        <link href="/library/skin/morpheus-default/properties.css" type="text/css" rel="stylesheet" media="screen, tty, tv, handheld, projection"/>
        <link href="content/css/passwordReset.css" type="text/css" rel="stylesheet" media="all" />
        <script id="portal-matter"></script>
        <script src="/library/js/headscripts.js" type="text/javascript" language="JavaScript"></script>
        <script type='text/javascript'>includeLatestJQuery('accountvalidator');</script>
        <script src="content/js/accountValidator.js" type="text/javascript" language="JavaScript"></script>
        <script th:text="${passwordPolicyEnabled}" type="text/javascript" language="JavaScript"></script>
	
	</head>
	<body>
		<div class="wrapper">
			<div class="header stylized">
				<h3 th:text="#{validate.welcome1.reset(${uiService})}">Reset your password on Sakai</h3>
				<div th:text="${expirationTime}" class="instruction">You have ... from the time of your original request to submit this form</div>
			</div>

			<table class="myform">
				<tr>
					<td valign="top">
						<div class="myform stylized">
							<form id="setDetailsForm" name="form" method="post">
								<div id="banner" class="sak-banner-info">
									<span th:text="#{username.new.reset(${uiService})}">Your username will be:</span>
									<span id="eid" th:text="${eid}" class="username">User ID</span>
								</div>
								<div class="spacer"></div>

								<div class="container-fluid">
								<div class="row labelCont">
									<div class="col-12 col-lg-6">
                                                                            <label>
                                                                                    <span th:text="#{newpassword}">Password</span> <span class="reqStar">*</span>
                                                                            </label>
                                                                            <input id="password1" type="password" class="inputBox required" onkeyup="VALIDATOR.validatePassword();" oninput="VALIDATOR.validatePassword();" onblur="VALIDATOR.displayStrengthInfo();" onfocus="VALIDATOR.displayStrengthInfo();" required="required" autocomplete="new-password" />

                                                                            <div class="spacer">
                                                                                <div id="strengthBar" style="display:none">
                                                                                <span id="strengthBarMeter" style="display:none"></span>
                                                                                </div>			
                                                                                <div id="strongMsg" style="display:none" th:text="#{password.strong}"></div>
                                                                                <div id="moderateMsg" style="display:none" th:text="#{password.moderate}"></div>
                                                                                <div id="weakMsg" style="display:none" th:text="#{password.weak}"></div>
                                                                                <div id="failMsg" style="display:none" th:text="#{password.fail}"></div>

                                                                            </div>
                                                                                <div id="strengthInfo" style="display:none" th:text="#{password.strengthInfo}"></div>
                                                                        </div>

									<div class="col-12 col-lg-6">
                                                                            <label>
                                                                                    <span th:text="#{password2}">Confirm password</span> <span class="reqStar">*</span>
                                                                            </label>
                                                                            <input id="password2" type="password" class="inputBox required" onkeyup="VALIDATOR.verifyPasswordsMatch();" oninput="VALIDATOR.verifyPasswordsMatch(), VALIDATOR.validateActivateForm();" required="required" autocomplete="new-password" />
									
									<div class="spacer">
                                                                <div id="matchMsg" style="display:none;">
                                                                    <img src="/library/image/silk/accept.png"></img>
                                                                    <div  th:text="#{password.match}"></div>									
                                                                </div>
                                                                <div id="noMatchMsg" style="display:none;">
                                                                    <img src="/library/image/silk/cancel.png"></img>
                                                                    <div th:text="#{password.noMatch}"></div>									
                                                                </div>
                                                                </div>

								</div>
								<div class="spacer"></div>
								<input id="addDetailsSub" th:value="#{submit.new.reset}" class="submit" type="submit"/>
								<div class="spacer"></div>
							</form>
						</div>
					</td>
				</tr>
			</table>
		</div>

    	<script>           
            document.getElementById('setDetailsForm').addEventListener('submit', function (e) {
                e.preventDefault();

                var data = {
                    "password": document.getElementById('password1').value,
                    "password2": document.getElementById('password2').value
                };

                fetch(window.location.href, {
                    headers: {'Content-Type': 'application/json'},
                    method: 'POST',
                    body: JSON.stringify(data)
                })
                        .then(function (response) {

                            if (!response.ok) {
                                throw response;
                            }
                            return response.json().then(function (response) {

                                var banner = document.getElementById("banner");

                                if (response.error !== undefined) {

                                    banner.classList.remove("sak-banner-info");
                                    banner.classList.add("sak-banner-error");
                                    var message = response.error;
                                    banner.textContent = message;
                                    
                                } else if (response.success !== undefined) {
                                    window.location.replace(location.origin + '/portal');
                                }

                            });
                        });
            });
        </script>    

	</body>
</html>
